@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 200vh;
  margin: 0;
  overflow-x: hidden;
}

#landingbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landingstarted {
  text-align: center;
}

#holder {
  position: absolute;
  top: 40%;
}

.supage {
  position: absolute;
  top: 20%;
}
